* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.header {
  display: flex;
  min-width: 400px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  background-color: black;
}
.logo {
  margin-right: 10px;
  font-size: 24px;
  font-style: italic;
  text-transform: capitalize;
}
.menu {
  padding: 0;
  margin-right: 10px;
}
.menu > li {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.menu > li > a {
  text-decoration: none;
  color: white;
}
.menu > li + li {
  margin-left: 30px;
}
.button {
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
