*{
  box-sizing: border-box;
}
.header{
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 20px;
  align-items: center;
  color: white;
}
.logo{
  text-transform: capitalize;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
}
.menu>ul{
  padding: 0;
  margin: 0;
}
.menu li{
  display: inline-block;
}
.menu li>a{
  color:inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.menu li+li{
  margin-left: 10px;
}

.button{
  border: 1px solid white;
  padding: 10px 15px;
  border-radius: 2px;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  text-transform: uppercase;
}